<h1>Editing cake stack</h1>

<%= render "form", cake_stack: @cake_stack %>

<br>

<div>
  <%= link_to "Show this cake stack", @cake_stack %> |
  <%= link_to "Back to cake stacks", cake_stacks_path %>
</div>
